.color-titulo{
    color:#0077C7;
}
.backtable{
    background-color: #0077C7;
    color: white;
}
.hover{
    cursor: pointer;
    color:#0077C7;
}

.fa-pencil{
    color: #0077C7;
    cursor: pointer;
}
.fa-xmark{
    color:#0077C7;
    cursor: pointer;
}
